@import url("./styles.css");

/* WELCOME SECTION */
.welcome-section {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	min-height: 90vh;
	background: linear-gradient(var(--black-color), var(--primary-color));
}

@media only screen and (max-width: 820px) {
	.welcome-section {
		flex-direction: column;
		justify-content: center;
	}

	.welcome-image-section{
		display: none;
	}
}

.welcome-title-section {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.welcome-title-section > * {
	margin: 0 0.2rem;
}

.welcome-text-section {
	width: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	padding: 1rem 3rem;
	margin: 3rem 1rem;
}

.welcome-text-section .title {
	font-size: 2.5rem;
	line-height: 1;
	color: var(--white-color)
}

.welcome-text-section .title span{
	color: var(--secondary-color)
}

.welcome-text-section .text {
	text-align: justify;
	margin: 1.5rem 0;
	color: var(--white-gray-color);
}
.welcome-text-section .btn {
	width: 7rem;
	margin: 0.5rem 0;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.welcome-image-section {
	flex: 1;
	animation: change-bacground 100s 3s ease-in-out infinite;
	-webkit-animation: change-bacground 100s 0s ease-in-out infinite;
}

/* SHOW CASES */
.show-cases {
	width: 100vw;
	min-height: 100vh;
	background-color: hsla(0, 0%, 0%);
}
