@import url("./styles.css");
@import url("./form.css");

.chat-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.chat-user-section{
    display: flex;
    flex: 1;
    height: 84vh;
    overflow: hidden;
    background-color: var(--white-gray-color);
}

.users-list{
    min-width: 20rem;
    height: 83vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 83vh;
    overflow: hidden;
}

.messages-form{
    display: flex;
    justify-content: center;
    padding: .3rem 1rem;
    background-color: var(--white-gray-color);
}

.messages-form *{
    margin: 0;
    color: var(--white-color);
}

.messages-form input[type="text"]{
    width: 50vw;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.messages-form input[type="submit"]{
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
}

.message-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 83vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--white-gray-color);
}

.message-infos{
    font-size: 3rem;
    align-self: center;
    text-align: center;
}

.message-box .username,
.message-box .date
{
    font-weight: bold;
    color: var(--black-color);
}

.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 2.5rem;
    padding: .3rem;
    border-top: .01rem solid hsla(0, 0%, 100%, 0.029);
    background-color: var(--primary-color);
}

.user *{
    margin: 0 .5rem;
}

.logo-name{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bolder;
    background-color: var(--white-gray-color);
    color: var(--black-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user .username-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.username{
    font-size: .9rem;
    color: var(--white-color);
}

.status,
.date{
    font-size: .65rem;
    letter-spacing: .03rem;
    color: var(--white-gray-color);
}

.date{
    font-size: .6rem;
    color: var(--white-gray-color);
}

.status-light{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.status-section,
.date-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.date-section{
    display: flex;
}

.date-section * {
    margin: .2rem 1rem;
}

.enligne {
    background-color: lime;
}
.horsligne {
    background-color: var(--white-gray-color);
}

.message{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: .5rem 2rem;
}

.message > *{
    margin: 0 .5rem;
}

.message .user{
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 95%;
}

.message .user .logo-name{
    margin: 0;
    background-color: var(--white-color);
}

.message-text{
    color: var(--white-color);
    width: 95%;
    padding: .2rem 1rem;
    font-size: .9rem;
    letter-spacing: .05rem;
    line-height: 1.6;
    align-self: flex-start;
    box-shadow: .1rem .1rem 1rem var(--black-color);
    border-radius: 0 1rem 1rem 1rem;
    -webkit-border-radius: 0 1rem 1rem 1rem;
    -moz-border-radius: 0 1rem 1rem 1rem;
    -ms-border-radius: 0 1rem 1rem 1rem;
    -o-border-radius: 0 1rem 1rem 1rem;
}

.send{
    align-self: flex-end;
}

.received .message-text{
    background-color: var(--secondary-color);
    color: var(--black-color);
}

.send .message-text{
    background-color: var(--primary-color);
    color: var(--white-color);
}
